extends layout

block content
    .container.clearfix
        .row
            .col-xs-offset-2.col-md-10.col-md-offset-2#static
                h1.name
                    #photo
                        img.avatar.img-circle(src=`${userImg ? userImg : "/static/images/profile.jpg"}` id="profile-img")
                        |&nbsp;
                        span.profile-name
                            =`${name}`
                        img(src="/static/images/upload.jpg" id="upload")
                        form(ref='uploadForm' method="POST" action="/pic_upload" id="img_update"  encType="multipart/form-data")
                            input(type="file" name="imgUpload" id="photos-input")
                            input(type="submit" value='Upload' id="imgUpload")
                h2.favorite-book Favorite Book
                p #{favorite}
                .personal
                    br
                    .alert.alert-danger.error(style='opacity: 0.5;position:relative; right: 1244px;')
                        strong| Details can't be Blank
                    if !details
                        h2.favorite-book.details
                            |Personal Details
                            
                        form.form-inline(action="/details"  method="POST" id="details")
                            .form-group
                                label(for="addr")|Address
                                | #{"  "}
                                input.form-control(type="text" id="addr" name="addr" size="58")
                            .form-group
                                label(for="dob")| Zip Code
                                | #{"  "}
                                input.form-control(type="number" id="dob" name="dob")
                            .form-group
                                label(for="phone")|Phone
                                | #{"  "}
                                input.form-control(type="text" id="phone" name="phone")
                            .form-group
                                label(for="country")|County
                                | #{"  "}
                                input.form-control(type="text" id="country" name="country")
                                

                            button.btn.btn-primary.set(type="submit" value="Submit")|Submit

                    else
                        h2.favorite-book.details
                            |Personal Details
                            span.glyphicon.glyphicon-edit 
                        #sec1
                            .first
                                p Zip Code
                            .second#dob
                                p #{details.dob}
                            .first.ag
                                p Phone
                            .second#phone
                                p #{details.phone}
                        div
                            .first
                                p Address
                            .second#address
                                p #{details.addr}
                            .first.ag
                                p Country
                            .second#country
                                p #{details.country}